* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    background-color: antiquewhite;
}

main
{
    margin: 100px auto;
}

header
{
    margin: auto;
    border: black solid 2px;
    width:500px;
    height: 100px;
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-items
{
    text-align: center;
    gap: 1rem;
}

#score_box, #best_score_box
{
    height: 50px;
    width: 100px;
    background-color: #bbada0;
    color: white;
    border-radius: 10px;
    margin: auto;
}

h1
{
    color: grey;
    margin: auto;
    font-size: 4em;
}

section
{
    margin: 25px auto;
    width:500px;
}

#newGameButton
{
    background-color: gray;
    border-radius: 10px;
    border: none;
    color:white;
    font-size: 1.10em;
    width: 100px;
    height: 50px;

}

#newGameButton:hover
{
    cursor: pointer;
}

table
{
    border: #bbada0 solid 5px;
    border-radius: 10px;
    margin: 50px auto;
    border-collapse: collapse;
    
}

table td button
{
    border: #bbada0 solid 5px;
}

.buttons
{
    height: 125px;
    width: 125px;
}