h1
{
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

body
{
  background-color:Peru;
}

section
{
  margin-bottom: 100px;
}
table
{
  margin:auto;
  border-collapse: collapse;
}

table td input
{
  border: white solid;
  height: 100px;
  width: 100px;
}

.buttons:hover
{
  background-color: antiquewhite;
}

.buttons:active
{
  background-color: LightYellow;
}

input[name="0"]
{
  border-bottom-left-radius: 20px;
}

input[name="divide"]
{
  border-bottom-right-radius: 20px;
}

#display
{
  width: 400px;
  text-align: right;
  font-size: 1.5em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
