body
{
  margin: 0;
  font-family: Times,"Times New Roman";
  color:white;
  height: 100%;
}

h1,h2,h3
{
  text-decoration: underline;
}

h1{
  text-align: center;
  color: white;
}

h3
{
  font-size: 17px;
}

.nav_bar {
  background-color: #555;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 18px;
  float: left;
  width: 20%;
}

.nav_bar:hover
{
  background-color: #777;
}

.navbar_content
{
  display: none;
  padding: 100px 20px;
  height: 1500px;
  text-align: center;
}

#pagina_principal{background-color: olive}
#libros{background-color: maroon}
#poemas{background-color: red}
#cuentos {background-color: brown}
#quienes_somos {background-color: slateGray}

#qs_main
{
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  height: 100%;
  margin: auto;
  font-size: 18px;
  /* overflow: auto; */
}

footer
{
  padding: 10px;
  text-align: center;
  line-height: .7;
  font-size: 12px;
}
