html
{
  background-color: antiquewhite;
}

h1
{
  margin:auto;
  text-align: center;
  font-family: cursive;
  font-size: 3em;
  background-image: url(img/roses.jpg);
  margin-bottom: 40px;
}

h2,h3
{
  text-decoration: underline;
  text-align: center;
  font-family: fantasy;
}

nav
{
  margin: auto;
  text-align: center;
}
nav ul
{
  /* list-style-type: none; */
  display: flex;
  margin: 0 10px;
}

nav ul li
{
  flex:auto;
  list-style-type: none;
  border: solid black;
}

section
{
  border-style: solid;
  border-radius: 20px;
  border-color: burlywood;
  width: 400px;
}

#bdShoutouts
{

}

#importantDates
{

}

article
{
  float: left;
  width: 30%;
  margin: 10px;
}

section
{
    margin: 20px;
    clear: left;
}

aside
{
  border-style: solid;
  border-radius: 20px;
  border-color: burlywood;
  margin: 30px;
  padding: 20px;
}

aside ul
{
    list-style-type: square;

}

aside ul li
{
    margin-bottom: 15px;
}

footer
{
  clear:both;
  border-top-style: solid;
  border-top-color: burlywood;
  text-align: center;
}

.font_style
{
  display: inline-block;
}
